body {
    background-color: #2a2d35;
}

.App {
    display: flex;
    flex-direction: initial;
    align-content: flex-start;
    color:#6ee4fe;

}

.CounterBlok  {
    width: 300px;
    height: 200px;
    text-align: center;
    border: 2px solid #6ee4fe;
    border-radius: 10px;
    display: flow-root;
    align-self: center;
    margin: 15% 7% 10% 23%;
}

.UtilitiesBlok  {
    width: 300px;
    height: 200px;
    text-align: center;
    border: 2px solid #6ee4fe;
    border-radius: 10px;
    display: flow-root;
    align-self: center;
    margin:15% 7% 10% 2%;
}

.counter {
    height: 80px;
    padding: 5%;
    margin: 5%;
    text-align: center;
    border: 2px solid #6ee4fe;
    border-radius: 5px;
    font-size: 50px;
    font-weight: bold;
}

.counterWithMaxValue {
    height: 80px;
    color:red;
    padding: 5%;
    margin: 5%;
    text-align: center;
    border: 2px solid #6ee4fe;
    border-radius: 5px;
    font-size: 50px;
    font-weight: bold;
}

.counterUtilities {
    height: 80px;
    padding: 5%;
    margin: 5%;
    text-align: left;
    border: 2px solid #6ee4fe;
    border-radius: 5px;

    font-weight: bold;
}

.error-text{
    font-size: 50%;
    color:red;
    padding-left: 30px;
}

.print-text{
 font-size: 30px;
    padding-left: 35px;
}


.button-block {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    padding: 3%;
    margin: 5%;
    text-align: center;
    border: 2px solid #6ee4fe;
    border-radius: 5px;
}

.button-block-util{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    padding: 3% 3% 3% 30%;
    margin: 5%;
    text-align: center;
    border: 2px solid #6ee4fe;
    border-radius: 5px;
}

.button-block-for-utilities{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    padding: 3% 3% 3% 30%;
    margin: 5%;
    text-align: center;
    border: 2px solid #6ee4fe;
    border-radius: 5px;
}


button {

    display: inline-block;
    background-color: #6ee4fe;
    border: 1px solid;
    border-radius: 5px;
    font-size: 1.2em;
    margin: 0 6%;
    font-weight: bold;

}

button:active {
    background-color: #2a2d35; /* Green */
    color: #6ee4fe;
}

.pastNumber {
    color: red;
}

div span {
    font-size:20px;
    margin-right: 36px;
    margin-bottom: 20px;
    display:inline-block;

}

div input {
   border:2px solid #6ee4fe;
    border-radius: 3px;
    display:inline-block;
    text-align: center;
    width:70px;
}

.inputStyle1 {
    border:1px solid #6ee4fe;
    text-align: center;
    margin: 0 0 0 12%;
    display: inline-block;
}
.inputStyle2 {
    border:1px solid #6ee4fe;
    text-align: center;
    margin: 0 0 0 12%;
    display: inline-block;
}

.errorValue {
    border: lightcoral 2px solid;
    background: lightcoral;
}
